* {
    font-family: monospace;
}
.container > div {
    padding: 10px 14px;
    text-align: center;
    
}

.container {
    color: gray; 
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  justify-content: center;
}

h1, h2 {
    font-size: 20px;
}

.container a.home {
    color: gray;
    text-decoration: none;
}

.container a.about {
    color: gray;
    text-decoration: none;
}

.container a.pricing {
    color: gray;
    text-decoration: none;
}

.container a.templates {
    color: gray;
    text-decoration: none;
}

.container a.props {
    color: gray;
    text-decoration: none;
}

.container a.contact {
    color: gray;
    text-decoration: none;
}

.personInfo .info {
    width: 50%;
    height: 200px;

}

header {
    font-size: 20px;
    text-align: center;
}

.personInfo {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.personInfo .fname {
    width: 200px;
    height: 25px;
    border: black solid 1px;
}

.personInfo .lname {
    width: 200px;
    height: 25px;
    border: black solid 1px;
}

.personInfo .email {
    width: 200px;
    height: 25px;
    border: black solid 1px;
}

.personInfo .info {
    border: black solid 1px;
}

.personInfo .submit {
    width: 60px;
    height: 10px;
   
}