footer {
    border: black solid 1px;
    color: red;
    background-color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 12px;
    line-height: .5;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

body {
    background-color: #e8c9ff;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 30px;
    position: relative;
    height: 50px;
    border: dotted 5px white;
    background-color: black;
}



h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 20px;
    width: fit-content;
    position: absolute;
    top: 100px;
    color: brown;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 20px;
    width: fit-content;
    position: absolute;
    left: 350px;
    top: 100px;
    color: black;
}
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 20px;
    width: fit-content;
    position: absolute;
    top: 100px;
    left: 700px;
    color: red;
}



#goombas {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 0;
    border: black dotted 3px;
}

#bob-omb {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 350px;
    border: black dotted 3px;
}

#cheepcheep {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 150px;
    left: 700px;
    border: black dotted 3px;
}

div {
    width: 300px;
    position: absolute;
    top: 450px;
}

div1 {
    position: absolute;
    top: 450px;
    left: 350px;
}

div2 {
    position: absolute;
    top: 450px;
    left: 700px;
}

div3 {
    position: absolute;
    top: 550px;
}

.text {
    width: 200px;
    height: 25px;
    border: solid black 1px;
}
div0 {
    position: relative;;
    font-size: 20px;
}

div5 {
    position: relative;
    font-size: 20px;
}

div4 {
    position: relative;
    font-size: 20px;
}