ul {
    list-style-type: none;
    position: fixed;
}
li {
    display: inline;
    position: 
}

.laPaz {
    height: 200px;
    width: 200px;
    position: relative;
    left: 350px;
}

.city {
    height: 200px;
    width: 200px;
    position: relative;
    left: 350px;
}

.ci {
    height: 200px;
    width: 200px;
    position: relative;
    left: 350px;
}

h1,h2,h3 {
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
}

p {
   text-align: center;
   font-family: verdana;
   font-size: 20px; 
}

body {
    background-color: #06ffea;
}