* {
    font-family: SuperMario256;
}

h1 {
    font-size: 50px; 
    padding: 10px;
    background-color: yellow;
    width: 100%;
    margin: 20px;
    display: flex;
}

div {
    width: 100%;
    background-color: yellow;

}