.a {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: cornsilk;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    font-family: monospace;
}

.one {
    text-decoration: none;
    border: 1px solid grey;
}

.two {
    text-decoration: none;
    border: 1px solid grey;
}

.three {
    text-decoration: none;
    border: 1px solid grey;
}