.one {
  text-decoration: none;
  color: lightblue;
}

.two {
  text-decoration: none;
  color: lightblue;
}

.three {
  text-decoration: none;
  color: lightblue;
}

.four {
  text-decoration: none;
  color: lightblue;
}

.five {
  text-decoration: none;
  color: lightblue;
}

.six {
  text-decoration: none;
  color: lightblue;
}

.seven {
  text-decoration: none;
  color: lightblue;
}

.eight {
  text-decoration: none;
  color: lightblue;
}
